.header {
    width: 100%;
    padding-top: 5.113636364%;
    padding-bottom: 4.659090909%;
}

@media screen and (max-width: 890px) {
    .header {
        margin-left: 27px;
        width: calc(100% - 27px);
    }
}

@media screen and (max-width: 640px) {
    .header {
        padding: 28px 0 31px;
    }
}