.popup__saveBtn {
    width: 100%;
    height: 50px;
    padding: 0;
    border: none;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: opacity .5s ease;
}

.popup__saveBtn:hover {
    opacity: .8;
}

@media screen and (max-width: 1280px) {
    .popup__saveBtn {
        font-size: calc((100vw - 320px) / (1280 - 320) * (18 - 14) + 14px);
    }
}

@media screen and (max-width: 650px) {
    .popup__saveBtn {
        height: 48px;     
    }
}