.elements__heart {
    margin: 0 5px;
    background: transparent;
    border: none;
    padding: 0;
}

.elements__heart:hover {
    opacity: .5;
    transition: opacity .3s ease;
    cursor: pointer;
}